.body{
    width: 100vw;
    height: 100vh;
    display: flex;

    .form-container{
        
        background-color: rgba($color: cornflowerblue, $alpha: 0.5);
        height: 250px;
        flex: 0 1 20%;
    }
}

