<div class="body">
    <h1 class="title">OP-fe</h1>
    <mat-card class="form-container">
        <mat-card-title style="color: black">Login</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label style="color: black">Username</mat-label>
                <input matInput placeholder="Ex. Rickyg568" style="color: black" id="usernameInput">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label style="color: black">Password</mat-label>
                <input matInput type="password" style="color: black" id="passwordInput"> 
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions style="margin-left: 29%; margin-right: 1rem;">
            <button mat-raised-button color="primary" style="color: white" id="submitLogin" (click)="userLogin()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>
